<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  <head>
	  	<meta charset="UTF-8">
	  	<title>header</title>
	  </head>
	  <body>
        <header>
            <div class="top-bg">
				<div class="top-navbar">
					<div class="nav justify-content-end topStatus">
						<div sec:authorize="!isAuthenticated()" th:remove="tag">
							<a class="nav-link" href="/user/login">로그인</a>
							<a class="nav-link" href="/user/join">회원가입</a>
						</div>
						<div sec:authorize="isAuthenticated()" th:remove="tag">
							<a class="nav-link" href="/user/mypage" sec:authentication="principal.username"></a>
							<a class="nav-link" href="/user/logout">로그아웃</a>
						</div>
					</div>
            </div>
            <div class="wrap">
                <div class="logo">
                    <a href="/"><img src="/images/main_logo.png" alt="로고"></a>
                </div>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav justify-content-end">
                            <a class="nav-link" href="/guide">이용안내</a>
                            <img src="/images/bar.png" alt="막대">
                            <a class="nav-link" href="/item/category">상품검색</a>
                            <img src="/images/bar.png" alt="막대">
                            <a class="nav-link" href="/item">상품등록</a>
                            <img src="/images/bar.png" alt="막대">
                            <a class="nav-link" href="/support">고객센터</a>
                            <img src="/images/bar.png" alt="막대">
                            <a class="nav-link last-nav" href="/user/mypage">나의경매</a>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
        </header>
</html>